<!DOCTYPE html>
<html class="scroll-smooth" lang="id">

<head>
{% include '_partials/head.njk' %}
</head>

<body class="font-poppins">
   {% include '_partials/navbar.njk' %}

   {% block content %}
   {% endblock %}

   {% include '_partials/footer.njk' %}
</body>

</html>